<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.5/phpunit.xsd">
    <testsuites>
        <testsuite name="E4u Framework Test Suite">
            <directory>./src/</directory>
        </testsuite>
    </testsuites>
</phpunit>